

  {{#each links}}
    <!-- Link list -->

    <div class="d-flex flex-row">
      <div class="p-2">
         <img class="lozad seo-list-img" 
          src="{{this.default_thumb_loading_image}}"
          data-src="{{this.featured_image_url}}" alt="image link">
      </div>
      <div class="p-2">
        <a href="{{this.url}}">{{this.name}}</a>
      </div>
    </div>
  
  {{/each}}

