/* custom hljs styles*/

.hljs {
	display: block;
	overflow-x: auto !important;
	padding-left: 0.5rem;
	background: #1d1f21;
	font-style: normal !important;
	line-height: 20px;
	font-size: 0.85rem;
}

.hljs,
.hljs-subst {
	color: #c5c8c6
}

.hljs-comment {
	color: #888
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 100;
    color: #00B7FF;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string{
	color: #00B7FF;
}
.hljs-template-tag,
.hljs-type {
	color: #de935f;
}

.hljs-section,
.hljs-title {
	color: #de935f;
	font-weight: 100
}

.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
	color: #00B7FF
}

.hljs-literal {
	color: #00A300
}

.hljs-addition,
.hljs-built_in{
	color: #00A300;
}
.hljs-bullet,
.hljs-code {
	color: #de935f;
}

.hljs-meta {
	color: #00B7FF
}

.hljs-meta-string {
	color: #00B7FF
}

.hljs-emphasis {
	font-style: italic
}

.hljs-strong {
	font-weight: 500
}
