body{
  line-height: 2rem;
  color: #fff !important;
  background-color: #212529 !important;
}

/*code{*/
/*  padding: .1em 1em;*/
/*  color: rgb(29, 31, 33);*/
/*  background-color: #F0F0F0;*/
/*  font-style: italic;*/
/*}*/

code {
  background-color: #000 !important;
  padding: 0px 12px 16px 12px !important;
  margin: 0 !important;
}

pre {
  padding: 0 !important;
  margin: 6px 0px 10px 0px !important
}

h1{
  font-size: 1.75rem;
}

h3{
  font-weight: 600;
  font-size: 1.25rem;
}


.card-columns{
  column-count: 2 !important;
}

@media (max-width: 576px) {
  .card-columns {
      column-count: 1 !important;
  }
}

.seo-list-img{
  width: 200px;
}

.font-size-1-1 {
  font-size: 1.1rem;
}

.container{
  padding-left: 5px;
  padding-right: 5px;
}

a {
  color: #00B7FF;
}

.bg-dark{
  background-color: #491777 !important;
}
